<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src self; img-src https://i.ibb.co/ vscode-resource:; script-src vscode-resource: 'self' 'unsafe-inline'; style-src vscode-resource: 'self' 'unsafe-inline';"/>
    <title>Challenge Analysis Results</title>
</head>
<body>
    <h3 id="results"></h3>
    <p>Challenge id: <span id="challenge-id"></span></p>
    <p>
        <span id="hint-num"></span>
        <button id="show-hints" onclick="showHints()">Show Hints</button>
    </p>

    <div id="hint-panel" style="display:none">
        <hr></hr>
        <div id="hints"></div>
    </div>

    <p>
        <hr></hr>
        <button id="show-solution" onclick="showSolution()">Show Solution</button>
    </p>
    <div id="solution-panel" style="display:none">
        <hr></hr>
        <p>Note that your solution can differ from ours in some aspects.</p>
        <div id="solution"></div>
    </div>
    <br><br>

    <script src="{{scriptPath}}"></script>
    <script>
        function showHints() {
            document.getElementById('hint-panel').style.display = 'block';
            document.getElementById('show-hints').style.display = 'none';
        }
        function showSolution() {
            document.getElementById('solution-panel').style.display = 'block';
            document.getElementById('show-solution').style.display = 'none';
        }
    </script>
</body>
</html>