<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src self; img-src https://i.ibb.co/ vscode-resource:; script-src vscode-resource: 'self' 'unsafe-inline'; style-src vscode-resource: 'self' 'unsafe-inline';"/>
    <title>Rezultati analize tvoje submisije</title>
</head>
<body>
    <br><br>
    <h1 id="results"></h1>
    <p>ID izazova: <span id="challenge-id"></span></p>
    <p>
        <span id="hint-num"></span>
        <button id="show-hints" onclick="showHints()">Prikaži hintove</button>
    </p>

    <div id="hint-panel" style="display:none">
        <hr></hr>
        <div id="hints"></div>
    </div>

    <p>
        <button id="show-solution" onclick="showSolution()">Prikaži rešenje</button>
    </p>
    <div id="solution-panel" style="display:none">
        <p>Računaj da se tvoje rešenje može razlikovati od našeg u određenim aspektima i dalje biti validno.</p>
        <div id="solution"></div>
    </div>
    <br><br>

    <script src="{{scriptPath}}"></script>
    <script>
        const vscode = acquireVsCodeApi();
        function showHints() {
            document.getElementById('hint-panel').style.display = 'block';
            document.getElementById('show-hints').style.display = 'none';
            vscode.postMessage({
                command: 'show-hints'
            });
        }
        function showSolution() {
            document.getElementById('solution-panel').style.display = 'block';
            document.getElementById('show-solution').style.display = 'none';
            vscode.postMessage({
                command: 'show-solution'
            });
        }
    </script>
</body>
</html>