<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src self; img-src vscode-resource:; script-src vscode-resource: 'self' 'unsafe-inline'; style-src vscode-resource: 'self' 'unsafe-inline'; "/>
    <title>Cat Coding</title>
</head>
<body>
    <h2 id="full-name">Needs to change 2</h2>
    <p id="title">Will change soon</p>
    <img id="image" src=""/>

    <script>
        window.addEventListener('message', event => {
            const results = event.data;
            let a = document;

            const title = document.getElementById('title');
            const image = document.getElementById('image');

            document.getElementById('full-name').textContent = results.metrics.fullName;
            //title.textContent = results.content.title;
            //image.src = results.content.image;
        });
    </script>
</body>
</html>